transformers<4.45.0
fastapi
uvicorn[standard]
python-multipart
requests
Pillow
sentence-transformers
faiss-cpu
langchain
langchain-community
numpy
scikit-learn
dashscope
rank_bm25
redis
timm
einops
torchvision
opencv-python-headless
